main {
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

/* Column Widths */
.mat-column-age {
  width: 3rem;
}

.mat-column-name,
.mat-column-email,
.mat-column-phone,
.mat-column-balance,
.mat-column-isActive {
  width: 6rem;
}

.mat-column-address {
  justify-items: center;
  width: 9rem;
}
